<html>
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
  </head>
  <body>
    <h1>{{ title }} [{{currentPage}}]</h1>
    <h2><a href="/cntrl/pages/add">Add new Page</a></h2>
    {{#each list}}
      <ul class="list-group" style=">
          <li class="list-group-item">{{this.title}}</li>
          <a href="/cntrl/pages/delete/{{this._id}}"> Delete </a> |
          <a href="/cntrl/pages/edit/{{this._id}}"> Edit </a> |
          <a href="/cntrl/pages/{{this._id}}"> Show </a>
      </ul>
    {{/each}}

    {{#pagination pages currentPage}}{{/pagination}}

  </body>
</html>