<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

    <channel>
        <title>to.pp.ru</title>
        <atom:link href="https://to.pp.ru/rss/" rel="self" type="application/rss+xml" />
        <link>https://to.pp.ru</link>
        <description>Новости</description>
        <lastBuildDate>{{date}}</lastBuildDate>
        <language>ru-RU</language>
        <sy:updatePeriod> hourly </sy:updatePeriod>
        <sy:updateFrequency> 1 </sy:updateFrequency>
        <generator>https://wordpress.org/?v=5.7.7</generator>

        <image>
            <url>https://to.pp.ru/fav.png</url>
            <title>https://to.pp.ru</title>
            <link>https://to.pp.ru</link>
            <width>32</width>
            <height>32</height>
        </image> 

        {{#each articles}}
            <item>
                <title>{{this.title}}</title>
                <link>https://to.pp.ru/articles/{{this.slug}}</link>
                <comments>https://to.pp.ru/articles/{{this.slug}}#respond</comments>
                <dc:creator><![CDATA[to.pp.ru]]></dc:creator>
                <image>{{this.img}}</image>                
                <pubDate>{{this.date}}</pubDate>
                <category>{{this.category}}</category>
                <guid isPermaLink="false">{{this.link}}</guid>
                <description>#{{this.category}}: {{this.description}}</description>
                <wfw:commentRss>{{this.link}}feed/</wfw:commentRss>
                <slash:comments>0</slash:comments>
            </item>
        {{/each}}

	</channel>
</rss>