<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <script src="/translate.min.js"></script>
  </head>
  <body>
 <!--   <div class="content">
    <h1>{{ list.title }}</h1>
    <img src="{{list.img}}" width="200px">
    <ul class="list-group">
      <li class="list-group-item">{{list.slug}}</li>
      <li class="list-group-item">{{list.category}}</li>
      <li class="list-group-item">{{list.date}}</li>
    </ul>
    <span class="original" style="display: none;" rel="nofollow">{{{list.content}}}</span>
    </div>

    <script>

      (async () => {
      	let h1 = document.querySelector('h1'),
            orig = document.querySelector('.original'),
            h1c = await translate(h1.innerText, "ru"),
            origP = orig.querySelectorAll('p'),
            contentText = document.createElement("div");

        h1.innerText = `${h1c}`;

        for(let i = 0; i < origP.length; i++){
          let x = await translate(origP[i].innerText, "ru");
          let p = document.createElement('p');
          p.textContent = x;
          contentText.appendChild(p);
        }

        document.querySelector('.content').appendChild(contentText);

      })();
    </script> -->
yea
  </body>
</html>